.products {
  width: 100%;
  display: flex;
  justify-content: space-center;
  align-items: center;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  list-style: none;
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px 10px rgba(150, 150, 150, .1);
  border-radius: 4px;
  background: gray;
  color: #fff;
  padding: 1rem;
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}

.products img {
  display: block;
  border-radius: 4PX;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  background-color: white;
}