.products {
  width: 100%;
  display: flex;
  justify-content: space-center;
  align-items: center;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(230px,
        1fr));
  list-style: none;
  gap: 1rem;
  padding-inline-start: 0px;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 4px;
  background: #FAEDCD;
  color: #6b705c;
  padding: 1rem;
  transition: all 0.25ms;
}

.products li:hover {
  box-shadow: 0 0 10px 1px rgba(254, 250, 224, 0.5);
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}

.products img {
  display: block;
  border-radius: 4PX;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  background-color: white;
}