.footer {
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px 24px;
  border-radius: 32px;
  opacity: 0.85;
  backdrop-filter: blur(8px);
}

.footer span {
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}

.footer h4,
.footer h5 {
  margin: 0;
  display: flex;
}

.footer .footer-initial {
  font-size: 20px;
  padding: 5px 1px;
}

.footer .footer-hovered {
  display: none;
}

.footer:hover .footer-hovered {
  display: block;
}

.footer:hover .footer-initial {
  display: none;
}