.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 0 10px white;
  padding: 50px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

header h1 {
  font-size: 3rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.form-row-input {
  display: flex;
}

.form-row-options {
  display: flex;
}

.form-row-options label {
  font-size: 0.9em;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0%;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.movie {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: 10px;
}

.movie p {
  margin: 0;
  font-weight: lighter;
}

.movie span {
  font-size: 1.1rem;
  font-weight: bold;
}

.movie-header {
  margin-top: 30px;
  vertical-align: top;
  justify-self: center;
}


.movie img {
  border-radius: 7px;
  margin-top: 10px;
  transition: all 0.3ms;
}

.movie img:hover {
  box-shadow: 0 0 10px white;
  scale: 1.05;
  cursor: pointer;
}